svg {
    width: 500px;
    padding: 20px;
    margin-top: 20%;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: 2s dash ease infinite;
}

path.st0 {
    animation: 2s color-change ease infinite;
    fill: #a7d5e2;
}

@keyframes dash {
    from {
        transorm: scale(1);
    }
    50% {
        transform: scale(2);
    }
    80% {
        transform: rotate(180deg);
    }
    to {
        stroke-dashoffset: 0;
        transorm: scale(1);
    }
}

@keyframes color-change {
    20% {
        fill: black;
    }
    50% {
        fill: white;
    }
}

body {
    text-align: center;
}
